<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../output.css">
</head>
<body>

    <section class="bg-[#112D57] w-full h-[371px] py-17 max-md:h-auto">
        <section class="container">

            <section class="flex justify-between items-center max-md:flex-col max-md:gap-7 px-20 max-md:px-0">

           <div class="flex flex-col ">
                    <div class="flex gap-18">
                     <div class="text-[#FFFFFF] text-[15px] leading-[47px] ">
                            <p>Price Item One</p>
                            <p>Price Item Two</p>
                            <p>Price Item Two</p>
                            
                     </div>
                     <div class="text-[#FFFFFF] text-[15px] leading-[47px] ">
                            <p>Price Item One</p>
                            <p>Price Item Two</p>
                            <p>Price Item Two</p>
                            
                     </div>
                    </div>
                    <p class="text-[#FFFFFF] text-[12px] font-bold  leading-[18px] mt-15">Just type what's on your mind </p>
           </div>

           <div>
            <img src="../img/Frame 19 (1).png" alt="">
           </div>
           <div class="text-[15px] text-[#ffffff] flex flex-col gap-6">

            <div class="flex items-center gap-2">
                <img src="../img/bx_bx-map.png" alt="">
                <p>7480 Mockingbird Hill undefined </p>
            </div>
            <div class="flex items-center gap-2">
                <img src="../img/ic_baseline-phone-android.png" alt="">
                <p>7480 Mockingbird Hill undefined </p>
            </div>
            <div class="flex items-center gap-5">
                <img src="../img/ant-design_twitter-outlined.png" alt="">
                <img src="../img/ant-design_facebook-filled.png" alt="">
                <img src="../img/ant-design_linkedin-filled.png" alt="">
            </div>

           </div>
            </section>

        </section>
    </section>
    
</body>
</html>