<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../output.css">
</head>

<body>

    <header>
        <div class="container ">
<section class="flex items-center justify-between h-[80px]">
    
                <img src="../img/logo dark.png" alt="">
                <div class="flex gap-6 items-center text-[#FFFFFF] text-[15px]">
                    <p>Home</p>
                    <p>Product</p>
                    <p>About</p>
                    <p>Contact</p>
                </div>
                <button class="btn4 w-[152px] h-[52px]">Sign up</button>
    
</section>
        </div>
    </header>

</body>

</html>