<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../output.css">
</head>
<body>
    

    <section class="bgcol w-[full] h-[1342px]">


        <section class="flex flex-col gap-3 items-center justify-center  w-full text-center">
            <h1 class="text-[#FFFFFF] text-[55px] w-[631px] max-md:text-[36px] max-md:w-[310px] " >Find the Best Solution in Seconds</h1>
            <p class="text-[#E5E5E5] text-[16px]  max-md:w-[310px]">If debugging is the process of removing software bugs.</p>
        </section>

        <section  class="flex gap-4 justify-center items-center mt-25">
            <button class="btn2 w-[183px] h-[52px]">get started</button>
            <button class="btn4 w-[177px] h-[52px]">try for free</button>
        </section>


        <section class="flex items-center justify-center mt-20">
            <div><img src="../img/Frame 18.png" alt=""></div>
        </section>


    </section>

</body>
</html>