<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../output.css">
</head>

<body>

    <section class="container">

        <section class="flex flex-col gap-3 items-center justify-center  w-full text-center mt-10">
            <h2 class="text-[#000000] text-[46px] w-[891px] max-md:text-[36px] max-md:w-[310px] ">SUBSCRIBE</h2>
            <p class="text-[#5C5C5C] text-[16px]  max-md:w-[310px]">Subscribe to get exclusive news & offer</p>
        </section>

        <section class="flex items-center justify-center">
            <div class="flex gap-6 mt-12 max-md:flex-col max-md:gap-4">
                <input class="w-[284px] h-[52px] bg-[#EFEFEF] border-[#D0D0D0] border-[1px] text-[#5C5C5C] text-[15px] px-9 outline-none rounded-[6px]  max-md:w-[370px]" placeholder="Enter Your Adress Email" type="email">
                <button class="bg-[#03D6F3] text-[#ffffff] w-[186px] h-[52px]  max-md:w-[370px]  max-md:m-auto  max-md:rounded-[6px] shadow-[0px_4px_31px_0px_#00000026] cursor-pointer">SUBSCRIBE</button>
            </div>
            <div>
                
            </div>
        </section>




    </section>
</body>

</html>