<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../output.css">
</head>
<body>
    

    <section class="container ">

        <section class="flex flex-col gap-3 items-center justify-center  w-full text-center">
   <h2 class="text-[#000000] text-[46px] w-[891px] max-md:text-[36px] max-md:w-[310px] " >Simple Pricing 
for Your Team</h2>
   <p class="text-[#5C5C5C] text-[16px]  max-md:w-[310px]">Slate helps you see how many 
more days you need </p>
</section>
        <section class="flex justify-around px-50 mt-10 max-md:m-auto max-md:px-0  max-md:flex-col  max-md:gap-8">

            <div class="w-[335px] h-[1067px] bg-[#FFFFFF] border-[#DEDEDE] border-[1px] flex flex-col  py-10 items-center gap-5 rounded-[10px]  max-md:w-full  max-md:mt-10">

                <h3 class="font-[700] text-[#000000] text-[30px]">Education</h3>
                <p class="font-[700] text-[#5C5C5C] text-[12px]">Brief price Description</p>
                <div class="mt-3">
                    <img src="../img/Rectangle 5.png" alt="">
                </div>
             <div class="flex gap-4 items-center mt-4">
                    <h1 class="text-[55px] text-[#30D7BA] font-[700]">0</h1>
                    <div>
                        <p class="text-[30px] text-[#30D7BA] font-[700]">$</p>
                        <p class="font-[700] text-[#5C5C5C] text-[12px]">per/manth</p>
                    </div>
             </div>
             <div class="text-[15px] text-[#000000] font-[450] flex flex-col gap-6 text-center mt-1">
                <p>Only 2 Operators</p>
                <p>Abandoned Cart</p>
                <p>Facebook & Instagram Ads</p>
                <p class="text-[#5C5C5C]">Order Notifications</p>
                <p class="text-[#5C5C5C]">Landing Pages</p>
             </div>

             <button class="btn w-[251px] h-15.5">Order Now</button>
            
            </div>
            <div class="w-[335px] h-[1067px] bg-[#FFFFFF] border-[#DEDEDE] border-[1px] flex flex-col  py-10 items-center gap-5 rounded-[10px]  max-md:w-full  max-md:mt-10">

                <h3 class="font-[700] text-[#000000] text-[30px]">Education</h3>
                <p class="font-[700] text-[#5C5C5C] text-[12px]">Brief price Description</p>
                <div class="mt-3">
                    <img src="../img/Rectangle 5.png" alt="">
                </div>
             <div class="flex gap-4 items-center mt-4">
                    <h1 class="text-[55px] text-[#30D7BA] font-[700]">0</h1>
                    <div>
                        <p class="text-[30px] text-[#30D7BA] font-[700]">$</p>
                        <p class="font-[700] text-[#5C5C5C] text-[12px]">per/manth</p>
                    </div>
             </div>
             <div class="text-[15px] text-[#000000] font-[450] flex flex-col gap-6 text-center mt-1">
                <p>Only 2 Operators</p>
                <p>Abandoned Cart</p>
                <p>Facebook & Instagram Ads</p>
                <p class="text-[#5C5C5C]">Order Notifications</p>
                <p class="text-[#5C5C5C]">Landing Pages</p>
             </div>

             <button class="btn w-[251px] h-15.5">Order Now</button>
            
            </div>
            <div class="w-[335px] h-[1067px] bg-[#FFFFFF] border-[#DEDEDE] border-[1px] flex flex-col  py-10 items-center gap-5 rounded-[10px]  max-md:w-full  max-md:mt-10">

                <h3 class="font-[700] text-[#000000] text-[30px]">Education</h3>
                <p class="font-[700] text-[#5C5C5C] text-[12px]">Brief price Description</p>
                <div class="mt-3">
                    <img src="../img/Rectangle 5.png" alt="">
                </div>
             <div class="flex gap-4 items-center mt-4">
                    <h1 class="text-[55px] text-[#30D7BA] font-[700]">0</h1>
                    <div>
                        <p class="text-[30px] text-[#30D7BA] font-[700]">$</p>
                        <p class="font-[700] text-[#5C5C5C] text-[12px]">per/manth</p>
                    </div>
             </div>
             <div class="text-[15px] text-[#000000] font-[450] flex flex-col gap-6 text-center mt-1">
                <p>Only 2 Operators</p>
                <p>Abandoned Cart</p>
                <p>Facebook & Instagram Ads</p>
                <p class="text-[#5C5C5C]">Order Notifications</p>
                <p class="text-[#5C5C5C]">Landing Pages</p>
             </div>

             <button class="btn w-[251px] h-15.5">Order Now</button>
            
            </div>
        
        </section>

    </section>



</body>
</html>