<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../output.css">
</head>

<body>

    <section class="container">
        <div class="text-center flex justify-center items-center">
            <h2 class="text-[46px] text-[#000000] w-[771px]  max-md:text-[36px]">
                FigmaLand was Built Specifically
                for You
            </h2>
        </div>

        <section class="flex items-center justify-ar max-md:flex-col  max-md:gap-10 max-md:justify-center mt-10">

            <div class="w-[404px] h-[440px] border-[#DEDEDE]  border-[1px] shadow-[0px_4px_31px_0px_#00000026] p-12 max-md:w-[345px] rounded-[10px]">
                <div>
                    <img src="../img/mdi_alarm-light.png" alt="">
                    <div class="flex flex-col gap-7">
                        <h3 class="text-[30px] font-[700] text-[#000000]  ">Management</h3>
                        <p class="text-[#5C5C5C] text-[18px] w-[250px]">Slate helps you see how many
                            more days you need to work
                            to reach your financial goal
                            for the month and year.</p>
                        <p class="text-[15px] text-[#03D6F3]">Learn More</p>
                    </div>
                </div>
            </div>

            <div class="w-[404px] h-[440px] border-[#DEDEDE]  border-[1px] shadow-[0px_4px_31px_0px_#00000026] p-12 rounded-[10px] max-md:w-[90%] max-md:w-[345px] bg-[linear-gradient(230.95deg,#CB1AE8_-0.37%,#37BDA6_100%)]">
                <div>
                    <img src="../img/mdi_atom.png" alt="">
                    <div class="flex flex-col gap-7">
                        <h3 class="text-[30px] font-[700] text-[#FFFFFF]  ">Customer Support</h3>
                        <p class="text-[#FFFFFF] text-[18px] w-[250px]">Slate helps you see how many
                            more days you need to work
                            to reach your financial goal
                            for the month and year.</p>
                        <p class="text-[15px] text-[#FFFFFF]">Learn More</p>
                    </div>
                </div>
            </div>

              <div class="w-[404px] h-[440px] border-[#DEDEDE]  border-[1px] shadow-[0px_4px_31px_0px_#00000026] p-12 max-md:w-[345px] rounded-[10px]">
                <div>
                    <img src="../img/mdi_alarm-light.png" alt="">
                    <div class="flex flex-col gap-7">
                        <h3 class="text-[30px] font-[700] text-[#000000]  ">Management</h3>
                        <p class="text-[#5C5C5C] text-[18px] w-[250px]">Slate helps you see how many
                            more days you need to work
                            to reach your financial goal
                            for the month and year.</p>
                        <p class="text-[15px] text-[#03D6F3]">Learn More</p>
                    </div>
                </div>
            </div>
        </section>
    </section>

</body>

</html>