<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../output.css">
</head>

<body>


    <section class="container">


        <section class="flex justify-around max-md:flex-col max-md:gap-8 items-center">
            <div class="flex flex-col gap-9 w-[400px] h-[400px] max-md:gap-3 max-md:justify-center max-md:items-center max-md:w-auto">
                <h2 class="text-[46px]">Quick & Easy Process</h2>
                <p class="text-16px font-[700] leading-20px text-[#5C5C5C] w-[443px] max-md:w-[300px]">Most calendars are designed for teams. Slate is designed 
for freelancers who want a simple way to plan
 their schedule.</p>
 <div class="flex gap-5 max-md:hidden">
    <button class="btn w-[216px] h-[52px]">sign up for free</button>
    <button class="btn3 w-[203px] h-[52px]">find out more</button>
 </div>
            </div>
            <div>
                <img src="../img/screen.png" alt="">
            </div>
        </section>
        <div class=" hidden max-md:flex max-md:block  max-md:flex-col  max-md:justify-center  max-md:items-center  max-md:gap-4  max-md:mt-15">
<button class="btn w-[336px] h-[52px]">sign up for free</button>
<button class="btn3 w-[343px] h-[52px]">find out more</button>
</div>



    </section>

</body>

</html>